# 项目排除路径
/FuXi/target/
/fuxi-001/target/
/fuxi-003/target/
/fuxi-004/target/
/godbatis/target/
/godbatis-test/target/
/javassist-008-test/target/
/logger-for-java/target/
/maven-demo/target/
/mybatis-001-introduction/target/
/mybatis-002-junit/target/
/mybatis-003-crud/target/
/mybatis-004-configuration/target/
/mybatis-007-web/target/
/mybatis-008-crud2/target/
/mybatis-009-antic/target/
/mybatis-010-param/target/
/mybatis-011-select/target/
/mybatis-012-dynamic-sql/target/
/mybatis-013-advanced-mapping/target/
/mybatis-014-cache/target/
/mybatis-015-generator1/target/
/mybatis-016-generator2/target/
/mybatis-017-page/target/
/mybatis-018-annotaion/target/
/parse-xml-by-dom4j005/target/
/untitled/target/