<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="aaaaaa">
    <select id="selectByall" resultType="com.powernode.mybatis.pojo.Car">
        select id,car_num as carNum,brand,guide_price as guidePrice,produce_time as produceTime,car_type as carType from t_car
    </select>
<!-- namespace用于区分到底使用那个id，没有重合时，为了方便，可以省略
 正确完整的写法： namespace.id 【在sqlSession执行的时候的选择】
 -->

</mapper>