<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.powernode.mybatis.mapper.CarMapper">

    <select id="selectCarByXml"  resultMap="jia">
        select * from t_car where id=#{id}
    </select>

    <resultMap id="jia" type="car">
<!--        <id property="id" column="id"></id>-->
        <result property="carNum" column="car_num"></result>
<!--        <result property="brand" column="brand"></result>-->
        <result property="guidePrice" column="guide_price"></result>
        <result property="produceTime" column="produce_time"></result>
<!--        <result property="carType" column="car_type"></result>-->
    </resultMap>
  <!--  <select id="selectCarByXml"  resultType="car">
        select * from t_car where id=#{id}
    </select>-->


</mapper>